
<h2>My Bookings</h2>
<table *ngIf="response">
    <tr>
      <th *ngFor = "let column of headers">
        {{column}}
      </th>
      <th>
          Cancel Booking?
      </th>
    </tr>
  
    <tr *ngFor = "let row of response">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
      <td>{{row[6]}}</td>
      <td>{{row[7]}}</td>
      <td>{{row[8]}}</td>
      <td>{{row[9]}}</td>
      <td><button (click)="proceedToCancel($event,row[0])">Cancel</button></td>
    </tr>
  
  </table>